<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project</title>
  </head>
  <body>
    <div class="container p-5 my-5 border">
      <h1>{{project.title}}</h1>
      <ul class="list-group list-group-horizontal">
        {% for tag in tags %}
        <li class="list-group-item">{{tag.name}}</li>
        {% endfor %}
      </ul>
      <p>{{project.description}}</p>
    </div>
  </body>
</html>
