<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
  </head>
  <body>
    <h1>Projects Page</h1>
    <table>
      <thead>
        <th>Title</th>
        <th>Time Created</th>
        <th></th>
      </thead>

      <tbody>
        {% for project in projects %}
        <tr>
          <td>View</td>
          <td>{{project.title}}</td>
          <td>{{project.created}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
